main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 400px;
}

h1 {
    text-align: center;
}

img {
    width: 100%;
    animation: fade 15s;
    padding: 10px;


}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}