:root {
    --primary-color: #0047ab;
    --secundary-color: #023047;
    --conteiner-color: #EADDFF;
    --tex-in-color: #EADDFF;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    text-align: center;
}


header {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin-bottom: 0%;
}


header img {
    width: 100px;
}

nav {
    background-color: var(--primary-color);
}

nav a {
    display: none;
    padding: 2%;
    text-align: center;
    color: white;
    text-decoration: none;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❌";
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.open a {
    display: block;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

main {
    padding: 10px;
}

main img {
    max-width: 1200px;
    width: 100%;
    object-fit: cover;
}


.spotImg {
    max-width: 300px;
    width: 90%;
    background-image: linear-gradient(rgba(0, 118, 244, 0.5), rgba(25, 44, 73, 0.5));
    border-radius: 6px;
    padding: 2%;
}

.cardImg {
    max-width: 50%;
}

.wrapper a {
    color: var(--primary-color);
    padding: 5px;
    font-size: 2rem;
    text-decoration: none;
}

.info {
    background-color: #b6c9f4;
    border-radius: 6px;
}

.btnJoin {
    width: 250px;
    padding: 10px 25px 10px 25px;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #000;

    background: -moz-linear-gradient(#98ba40, #a6c250 35%, #618926);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #98ba40), color-stop(.35, #a6c250), color-stop(1, #618926));
    border: 1px solid #618926;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.btnJoin:hover {
    text-shadow: -1px -1px 2px #465f97;
    background: -moz-linear-gradient(#245192, #1e3b73 75%, #12295d);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #245192), color-stop(.75, #1e3b73), color-stop(1, #12295d));
    border: 1px solid #0f2557;
    color: #fff;
}

footer {
    background-color: var(--primary-color);
    color: var(--tex-in-color);
    text-align: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.business img {
    max-width: 300px;
    width: 70%;
}

.business {
    padding: 2%;
    margin: 5px;
    border: 1px solid #dddbdb;
    border-radius: 6px;

}

.business:hover {
    box-shadow: 0 0 10px #333;
    background-color: #b6c9f4;

}

main i {
    background-color: white;
    border-radius: 6px;
}

.list img {
    visibility: hidden;
    height: 1px;
}

.list {
    margin: 0%;
    padding: 0%;
}

.list h3 {
    margin: 0%;
}

.list p {
    margin: 0%;
}

#list {
    width: 100px;
    padding: 10px 5px 10px 5px;
    font-family: Arial;
    font-size: 16px;
    text-decoration: none;
    color: #000;
    border-radius: 6px;
}

#grid {
    width: 100px;
    padding: 10px 5px 10px 5px;
    font-family: Arial;
    font-size: 16px;
    text-decoration: none;
    color: #000;
    border-radius: 6px;
}

.weatherIcon {
    width: 80px;
}

#current-temp {
    color: var(--primary-color);
}

figcaption {
    color: var(--primary-color);
    font-weight: bold;

}

figure {
    margin: 0%;

}

figcaption span {
    color: #000;
    font-weight: normal;
}

#forcast-Container {
    background-color: #b6c9f4;
    padding: 5px;
}

#forcast-Container section {

    border: gray solid;
    background-color: white;
    margin: 5px 5px;
    padding: 0px 2px 2px 2px;
    border-radius: 6px;
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.2);
}

#forcast-Container section:hover {
    background-color: #dfe9fe;
}

#customBanner {
    background-color: greenyellow;
    align-content: center;
    height: 35px;
    color: #333;
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-Index: 9999;
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin-top: 0px;
}

#customBanner p {
    font-weight: bold;
}

#customBanner button {
    height: 60px;
    border: none;
    background-color: greenyellow;
}

#spotlight1 {
    display: flex;
    height: 200px;
    overflow: hidden;
    position: relative;

}

#spotlight1 img {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#spotlight1 .active {
    opacity: 1;
}



#membership {
    text-align: center;
}

#membership img {
    width: 100px;
}